@charset "utf-8";
/*头部*/
input{outline: none; border:0;}
header{width:100%; height:.88rem; background-color:#8e7cc6; border-bottom:1px solid #7767a9;position:relative;}
.head-l-bg{position:absolute; left:.48rem; top:.26rem; width:.22rem; height:.38rem; background:url(../img/left.png) no-repeat; background-size:cover;}
.head-l-bg a{display:block; width:100%; height:100%;}
.head-r-bg{width:.35rem; height:.4rem;background:url(../img/head_r.png) no-repeat; background-size:cover; position:absolute; right:.43rem; top:.27rem;}
.bg-title{font-size:.32rem; line-height: .88rem;text-align: center; color:#fff;}
/*导航*/
.title{padding:0 .18rem; background-color:#fff; height:.698rem; border-bottom:0.01rem solid #8f969b; padding-top:.33rem; position:relative;}
.title h2{font-size:.3rem; padding-left:.26rem; border-left:.05rem solid #8e7cc6;}
.title a{float:right; font-size:.24rem; padding:.15rem .32rem; border:0.01rem solid #c5c6c8; position:absolute; right:.18rem; top:.26rem;}
/*列表*/
.list-box{padding:.04rem .18rem;}
.list-box li{background:#e5e8eb; margin-top:.16rem;}
.list-a{display:block; color:#6d767c; height:1.24rem; line-height: 1.24rem;}
.list-a img{float:left; width:1.24rem; height:1.24rem; margin-right:.47rem;}
.list-a .name{float:left; font-size:.3rem;}
.list-a .name-r-bg{float:right; width:.18rem; height:.35rem; background:url(../img/nan_r_bg.jpg) no-repeat; background-size:cover; margin-right:.17rem; margin-top:.45rem;}

